name: Build and deploy ASP.Net Core app to Azure Web App - MapsIntegration-fe

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: Run tests
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Publish Projects
        run: |
          dotnet publish ./GoogleMapsApi/GoogleMapsApi.csproj -c Release -f net10.0 -o ${{env.DOTNET_ROOT}}/myapp
          dotnet publish ./GoogleMapsApi.FE/GoogleMapsApi.FE.csproj -c Release -f net10.0 -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F3D35930EEF544B8930DAB6B61311596 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9B57AF66B39045A69868C8E50CC09A0A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D6D64C73C00749C8A03BFF5FBA07E602 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'MapsIntegration-fe'
          slot-name: 'Production'
          package: .
